@font-face {
    font-family: "estilo";
    src: url(../Multimedia/Font/letters_for_learners/Letters\ for\ Learners.ttf);
}

a {
    text-decoration: none;
    color: black;

}

.aside {
    background-color: darkblue;
}

.menu {
    background-color: chocolate;
    grid-column: 2/4;
}

.footer {
    background-color: brown;
    grid-column: 1/4;
}

.ColorBlanco {
    color: aliceblue;
    text-align: center;
}

.Paises {
    display: flex;
    justify-content: space-evenly;

}

.imagenbanderas {
    width: 100px;
    display: flex;
}

.estilodeelementos {
    text-align: end;
    font-size: x-large;
}
